<!DOCTYPE html>
<html>

<head>
  <title>Furima</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%# stylesheet_link_tagメソッドを実行するコード、'application'が実際に呼び出すCSSのファイル %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  
  <%= yield %>
  <%# 各Actionから呼び出されたViewの結果が挿入される。 %>
</body>

</html>